p {
  margin-left: 16px;
  font-size: large;
}

span {
  font-weight: bold;
}

ion-button {
  margin: 10px;
}

table {
  width: 100%;
  cursor: pointer;
}

.curso {
  color: #3b5998;
}

.cancelado {
  color: #d33939;
}

tr.mat-footer-row {
  font-weight: bold;
}
