<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{usuario.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p><span>Tipo:</span> {{usuario.isDriver ? 'Chofer' : 'Cliente'}}</p>
    <p><span>Puntuacion:</span> {{usuario.puntuacion || 0 | number:'1.1-1'}}★ </p>
    <p><span>Direccion:</span> {{usuario.direccion}}</p>
    <p><span>Correo:</span> {{usuario.email}}</p>
    <p><span>Telefono:</span> {{usuario.telefono}}</p>
    <p><span>Telefono de emergencia:</span> {{usuario.telefonoEmergencia}}</p>

    <ion-card id="driverPictures" class="mat-elevation-z8" *ngIf="usuario.isDriver">
        <div *ngIf="usuario.habilitado">
            <p>El chofer se encuentra habilitado</p>
            <ion-button color="danger" (click)="deshabilitarChofer(usuario.fbid);">Deshabilitar</ion-button>
        </div>
        <div *ngIf="!usuario.habilitado">
            <p>El chofer no se encuentra habilitado</p>
            <ion-button color="primary" (click)="habilitarChofer(usuario.fbid);">Habilitar</ion-button>
        </div>
    </ion-card>

    <br>

    <div class="mat-elevation-z8" style="margin: 8px;">
        <table mat-table [dataSource]="this.viajes">
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="viajeEnCurso(viaje)">{{viaje.fecha}}</td>
                <td mat-footer-cell *matFooterCellDef> Total confirmados </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="viajeEnCurso(viaje)" [class.cancelado]="viajeCancelado(viaje)">
                    {{this.viajesService.ESTADO_NOMBRE[viaje.estado]}}</td>
                <td mat-footer-cell *matFooterCellDef> {{getCuentaViajes()}} viajes </td>
            </ng-container>

            <ng-container matColumnDef="chofer">
                <th mat-header-cell *matHeaderCellDef>Chofer</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="viajeEnCurso(viaje)">
                    {{this.usuariosService.getDriver(viaje.chofer)?.name}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="origen">
                <th mat-header-cell *matHeaderCellDef>Origen<br>Destino</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="viajeEnCurso(viaje)">
                    {{viaje.origin_address}}<br>{{viaje.destination_address}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="viajeEnCurso(viaje)">{{viaje.precio | currency:'ARS':'symbol-narrow':'1.2-2'}}</td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalViajes() | currency:'ARS':'symbol-narrow':'1.2-2'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let viaje; columns: columnsToDisplay" (click)="detailsViaje(viaje.id)"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
        </table>
    </div>
</ion-content>
