p {
  margin-left: 16px;
  font-size: large;
}

span {
  font-weight: bold;
}

ion-card {
  margin: 8px;
  padding: 16px;
}

table {
  width: 100%;
  cursor: pointer;
}

.curso {
  color: #3b5998;
}

tr.mat-footer-row {
  font-weight: bold;
}
