<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Lista de viajes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mat-elevation-z8" style="margin: 8px;">
        <table mat-table [dataSource]="this.viajes">
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="enCurso(viaje)">{{viaje.fecha}}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="enCurso(viaje)">{{this.viajesService.ESTADO_NOMBRE[viaje.estado]}}</td>
            </ng-container>

            <ng-container matColumnDef="chofer">
                <th mat-header-cell *matHeaderCellDef>Chofer</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="enCurso(viaje)">{{this.usuariosService.getDriver(viaje.chofer)?.name}}</td>
            </ng-container>

            <ng-container matColumnDef="origen">
                <th mat-header-cell *matHeaderCellDef>Origen</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="enCurso(viaje)">{{viaje.origin_address}}<br>{{viaje.destination_address}}</td>
            </ng-container>

            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let viaje" [class.curso]="enCurso(viaje)">{{viaje.precio}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let viaje; columns: columnsToDisplay" (click)="detailsViaje(viaje.id)"></tr>
        </table>
    </div>
</ion-content>
