<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Lista de clientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mat-elevation-z8" style="margin: 8px;">
        <table mat-table [dataSource]="this.customers">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let customer">{{customer.name}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let customer">{{customer.email}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
            <tr mat-row *matRowDef="let customer; columns: columnsToDisplay" (click)="detailsCustomer(customer.fbid)"></tr>
        </table>
    </div>
</ion-content>
