<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Lista de clientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let customer of customers" (click)="detailsCustomer(customer.fbid)">
            {{customer.name}}
            <div class="item-note" slot="end">
                {{customer.email}}
            </div>
        </ion-item>
    </ion-list>
</ion-content>
