<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Lista de choferes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mat-elevation-z8" style="margin: 8px;">
        <table mat-table [dataSource]="this.drivers">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let driver">{{driver.name}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let driver">{{driver.email}}</td>
            </ng-container>

            <ng-container matColumnDef="puntuacion">
                <th mat-header-cell *matHeaderCellDef>Puntuacion</th>
                <td mat-cell *matCellDef="let driver">{{driver.puntuacion || 0 | number:'1.1-1'}}★</td>
            </ng-container>

            <ng-container matColumnDef="habilitado">
                <th mat-header-cell *matHeaderCellDef>Habilitado</th>
                <td mat-cell *matCellDef="let driver"><ion-icon [name]="driver.habilitado ? 'checkmark-circle' : 'close-circle'" slot="start"></ion-icon></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
            <tr mat-row *matRowDef="let driver; columns: columnsToDisplay" (click)="detailsDriver(driver.fbid)"></tr>
        </table>
    </div>
</ion-content>
