<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p><span>Fecha:</span> {{viaje.fecha}}</p>
      </ion-col>
      <ion-col>
        <p><span>Origen:</span> {{viaje.origin_address}}</p>
      </ion-col>
      <ion-col>
        <p><span>Destino:</span> {{viaje.destination_address}}</p>
      </ion-col>
      <ion-col>
        <p><span>Chofer:</span> {{this.usuariosService.getDriver(viaje.chofer)?.name}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p><span>Estado:</span> {{this.viajesService.ESTADO_NOMBRE[viaje.estado]}}</p>
      </ion-col>
      <ion-col>
        <p><span>Pasajero:</span> {{this.usuariosService.getPasajero(viaje.pasajero)?.name}}</p>
      </ion-col>
      <ion-col>
        <p><span>Viaja acompanante:</span> {{viaje.viajaAcompanante? 'Si':'No'}}</p>
      </ion-col>
      <ion-col>
        <p><span>Cantidad de mascotas:</span> {{viaje.cantidadMascotas}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p><span>Forma pago:</span> {{viaje.formaPago}}</p>
      </ion-col>
      <ion-col>
        <p><span>Precio:</span> {{viaje.precio}}</p>
      </ion-col>
      <ion-col>
        <p><span>Observaciones:</span> {{viaje.observaciones}}</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div #map id="map" style="width: 100%; height:500px"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
